<!DOCTYPE html>
<html>
<head>
	<title>fb</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
	.fbheader{
		height: 90px;
		background-color: #3b5998;
		/*min-width: 980px;*/
		color: white;
	}
	.form-controlsetting{
		height: 25px ! important;
	}
	.btn-success{
		/*width: 200px;
		height: 40px;*/
		color: white;
		font-weight: bold;
		font-size: 20px;
		background: linear-gradient(#b7cab2, #578843);
	    background-color: #69a74e;
	    box-shadow: inset 0 1px 1px #a4e388;
	    border-color: #3b6e22 #3b6e22 #2c5115;
		}
</style>
</head>
<body>
<header>
	<nav class="fbheader" style="">
		<div  class="container-fluid">
			<div class="row">
				<div class="col-md-7 col-xs-12 col-sm-9 col-lg-7" style="margin-top: 29px;">
					<img src="images/logo.png" width="178">
					
				</div>
				<div class="col-md-5  col-xs-8 col-sm-5 col-lg-5">
					<div class="row">
						<div class="col-md-5 col-xs-12 col-sm-5 col-lg-5">
							<label style="font-size: 11px;">Email or Phone</label>		
						</div>
						<div class="col-md-5 col-xs-12 col-sm-5 col-lg-5">
							<label style="font-size: 11px;">Password</label>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 col-xs-8 col-sm-8 col-lg-5">
								<input type="text" name="email" class="form-control" placeholder="Email or Phone">	
						</div>
						<div class="col-md-5 col-xs-8 col-sm-8 col-lg-5">
								<input type="password" name="password" class="form-control" placeholder="Password">
						</div>
						<div class="col-md-2 col-xs-8 col-sm-8 col-lg-2">
							<input type="submit" name="" class="btn text-white form-control" value="log In" style="background-color:#4267b2; line-height: 0px; ">
						</div>
					</div>
					<div class="row">
							<div class="col-md-5 col-xs-8 col-sm-6 col-lg-5">
								
							</div>
							<div class="col-md-5 col-xs-8 col-sm-6 col-lg-7">
								<a href="#" style="color: #9cb4d8;  font-size: 11px;" >Forgotten password?</a>
							</div>
					</div>	
				</div>	
			</div>	
		</div>
	</nav>
</header>

<section style="background-color: #f3f4f9; height: 620px; padding: 30px 154px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-none d-sm-block">
					<h2 style="color: #3e385f; font-size: 20px;">Facebook helps you connect and share with the people in your life.</h2>
					<br>
					<img src="images/connect.png">
			</div>
			
		
		<div class="col-md-6 d-none d-sm-block";>
					<h2>Create an account</h2>
					<h5 style="font-size: 19px!important; color: #333!important; margin-bottom: 30px;">It's quick and easy.</h5>
					
				
					<div class="row">
						<div class="col-md-5 form-group">
							<input type="text" name="" class="form-control" placeholder="Firstname">
							
						</div>
						<div class="col-md-7 form-group">
							<input type="text" name="" class="form-control" placeholder="Last name">
		
						</div>
					</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<input type="text" name="number" class="form-control" placeholder="mobile number or email id">
							</div>
							
							<div class="col-md-12 form-group">
								<input type="text" name="email" class="form-control" placeholder="email">
							</div>

							<div class="col-md-12 form-group">
								<input type="password" name="password" class="form-control" placeholder="password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h5 style="color: #999ca1;">Birthday</h5>
								
							</div>
							<div class="offset-md-6">
							
								
							</div>
							
							
						</div>
						<div class="row">
							<div class="col-md-6">
							<!--	<div class="row">
									<div class="col-md-6">  -->
										<select>
										<option>Day</option>
										</select>
										<select>
											<option>Date</option>
										</select>
										<select>
											<option>Year</option>
										</select>
								
								
							</div>
							<div class="col-md-6">
								<p style="font-size: 11px; color: #3e48fa;">Why do i need to provide my date of birth?</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h5 style="color: #999ca1;">Gender</h5>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-check form-check-inline">
								 <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								  <label class="form-check-label" for="inlineRadio1">Female</label>
								  	 &nbsp;
								   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								  <label class="form-check-label" for="inlineRadio1">Female</label>
								</div>
					<!--			<div class="row">
									<div class="col-md-4">   -->
									<!-- <div class="form-check form-check-inline">
								  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								  <label class="form-check-label" for="inlineRadio1">Female</label>
								</div> -->
						<!--		<div class="col-md-4"> -->
								<!-- <div class="form-check form-check-inline">
								  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								  <label class="form-check-label" for="inlineRadio1">Male</label>
								</div> -->
							</div>	
									
						</div>

						<div class="row">
							<div class="col-md-10">
								<p style="color: #5e615f; font-size: 11px;">By clicking Sign Up, you agree to our <a href="#"> Terms,</a> <a href="#"> Data Policy</a> and <a href="#">Cookie Policy</a> . You may receive SMS notifications from us and can opt out at any time.</p>
							</div>
							
						</div>

						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-success">Sign Up</button>
								
							</div>
							
						</div>
	</div>
</div>
</div>
	
</section>
</body>
</html>